<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EVIM-English-Validation-Internship-Management</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.jsp</welcome-file>
    <welcome-file>Homepage.jsp</welcome-file>
    <welcome-file>homepage.jsp</welcome-file>
    <welcome-file>HomePage.jsp</welcome-file>
    <welcome-file>HomePage.html</welcome-file>
    <welcome-file>Homepage.html</welcome-file>
    <welcome-file>homepage.html</welcome-file>
    <welcome-file>HomePage.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>Controller.MyServletException</exception-type>
    <location>/WEB-INF/error.jsp</location>
  </error-page>
</web-app>