@charset "ISO-8859-1";

#titolo{
	font-size: 30px;
	color: #595959;
}

#col-9{
	border: 1px solid #d7d7d7; 
	background-color: white;
}

#tabella{
	border: 1px solid #d7d7d7;
	font-size: 14px;
}

#colonne{
	color: white;
	background-color: #2C5278;
}

#registro, #accettare{
	font-size: 16px;
	margin-left:50px;
	color: black;

}


#select{
	font-size: 15px;
}


#id,#responsabile,#status,#cfu,#ore,#tirocinio,#registro,#registro1,#operazioni{
	text-align: center;
}

#op{
	color: black;
}
