.loginPage{
	.login-container{
		border: 1px solid #FF9900;
		padding: 10px;
		border-radius: 15px;
		float: none;
		margin: 0 auto;
		margin-top: 70px;
		.panel{
			h2, p{
				color: #666;
			}
		}
		#login{

		}
	}
}